In [17]:
import pandas as pd
import numpy as np
from sklearn.tree import DecisionTreeClassifier
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score,classification_report

In [11]:
dataset = pd.read_csv('temp.csv')
dataset.head()

   Unnamed: 0   outlook temprature humdity  windy play
0           0     Rainy        Hot    High  False   No
1           1     Rainy        Hot    High   True   No
2           2  Overcast        Hot    High  False  Yes
3           3     Sunny       Mild    High  False  Yes
4           4     Sunny       Cool  Normal  False  Yes

In [13]:
dataset1 = dataset.iloc[:,1:6]
dataset1.head()

    outlook temprature humdity  windy play
0     Rainy        Hot    High  False   No
1     Rainy        Hot    High   True   No
2  Overcast        Hot    High  False  Yes
3     Sunny       Mild    High  False  Yes
4     Sunny       Cool  Normal  False  Yes

In [15]:
#converting words into binaries using LabelEncoder
le = LabelEncoder()
dataset_encoded = dataset1
for i in dataset1:
    dataset_encoded[i] = le.fit_transform(dataset1[i])
dataset_encoded

    outlook  temprature  humdity  windy  play
0         1           1        0      0     0
1         1           1        0      1     0
2         0           1        0      0     1
3         2           2        0      0     1
4         2           0        1      0     1
5         2           0        1      1     0
6         0           0        1      1     1
7         1           2        0      0     0
8         1           0        1      0     1
9         2           2        1      0     1
10        1           2        1      1     1
11        0           2        0      1     1
12        0           1        1      0     1
13        2           2        0      1     0

In [16]:
#'gini' is the measure of impurity of the node
model = DecisionTreeClassifier(criterion = 'gini')
features = dataset_encoded.iloc[:,0:4].values
labels = dataset_encoded.iloc[:,4].values
x_train, x_test, y_train, y_test = train_test_split(features,labels,test_size=0.3)
model.fit(features,labels)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
                       max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort=False,
                       random_state=None, splitter='best')

In [18]:
predictions = model.predict(x_test)

In [19]:
for item in zip(y_test,predictions):
    print("Actual: {} Predicted: {}".format(item[0],item[1]))

Actual: 0 Predicted: 0
Actual: 0 Predicted: 0
Actual: 1 Predicted: 1
Actual: 1 Predicted: 1
Actual: 1 Predicted: 1

In [22]:
print('accuracy is {}'.format(accuracy_score(y_test,predictions)*100))

accuracy is 100.0

In [25]:
print("classification report is :\n",classification_report(y_test,predictions))

classification report is :
               precision    recall  f1-score   support

           0       1.00      1.00      1.00         2
           1       1.00      1.00      1.00         3

    accuracy                           1.00         5
   macro avg       1.00      1.00      1.00         5
weighted avg       1.00      1.00      1.00         5